.inputHolder
  display flex

.inputWrapper
  flex-grow 1

.buttonWrapper
  flex-shrink 0
  margin-left 10px

.error
  background #d03232
  color #fff
  padding 5px 10px
  border-radius 3px
  margin 5px 0
  font-weight bold

.link
  color blue
  cursor pointer
  text-decoration underline

.buttonWrapper
  display inline-block
  margin-right 5px