.button
  padding 9px 20px
  background #dbdbdb
  display inline-block
  border-radius 3px
  color #333
  min-width 100px
  box-sizing border-box
  text-align center
  cursor pointer
  overflow hidden
  position relative
  &:after
    content ''
    position absolute
    top 0
    left 0
    width 100%
    height 100%
    background rgba(#000, 0)
    transition 0.2s
  &:hover
    &:after
      background rgba(#000, 0.07)