.input
  padding 8px
  background #ffffff
  border 1px solid #dbdbdb
  display inline-block
  border-radius 3px
  color #333
  width 100%
  box-sizing border-box
  text-align left
  overflow hidden
  position relative
  font-size inherit